.list-books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;

  width: 80vw;
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  border: bisque 2px solid;
  border-radius: 5px;
}

.book-card__buy {
  padding: 0.8rem 1.5rem;
  background-color: orange;
  margin: 1rem;
  border: none;
  border-radius: 10px;
}

.book-description {
  font-size: 0.8rem;
}
